{% if comments %}
    {% for comment in comments %}
    <div class="note_entry">
        <h3>From {{comment.user}} on {{comment.created_on}}:</h3>
        {% if comment.last_edited != comment.created_on %}
        <h1>Edited on: {{comment.last_edited}}</h1>
        {% endif %}
        <pre>{{ comment.body }}</pre>
    </div>
    {% endfor %}
{% endif %}
<form class="newnote_form" action="{% url 'blog:add_comment' object.pk %}" method="post">
        {% csrf_token %}
    <input type="hidden" name="redirect_to" value="{{ request.path }}">
    <div class="newnote_widget_container">
        <div class="newnote_widget_text">
            <textarea class="newnote_widget_textarea" name="comment_text"></textarea>
        </div>
        <div class="newnote_widget_buttons">
            <input type="submit" value="Add comment">
            <input type="reset" value="Delete text">
        </div>
    </div>
</form>
