{% extends "blog/base.html" %}

{% block title %}{{object.title}} - {{object.user}}'s blog{% endblock %}

{% block content %}
<div class="taskmodel_detail_container">
    <p>
        {% if object.user == request.user %}
            <button type="button" onclick="window.location.href='{% url 'blog:edit' object.pk %}'">Edit this entry</button>
        {% endif %}
        <button type="button" onclick="window.location.href='{% url 'blog:root' %}'">Back to index</button>
    </p>
    <h3>{{ object.title }}</h3>
    <div class="detail_line" name="user_and_creation_date">By {{ object.user }}, {{ object.created_on}}</div>
    <div class="detail_line" name="last_edited">Last edited on {{ object.last_edited}}</div>
    <div class="detail_line" name="body"><pre>{{ object.body }}</pre></div>
</div>

{% include 'blog/widgets/comments_widget.html' %}

{% endblock %}