{% extends 'blog/base.html' %}

{% block title %}{{object.title}} - Edit{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10">
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% empty %}
        <p>Error loading form</p>
        {% endfor %}
        {% if edit_mode == "create" %}
            <div class="form-group">
                <input type="submit" value="Add Blog Entry">
                <button type="button" onclick="window.location.href='{% url 'blog:root' %}'">Cancel</button>
            </div>
        {% else %}
            <div class="form-group">
                <input type="submit" value="Submit Edit">
                <button type="button" onclick="window.location.href='{% url 'blog:details' object.pk %}'">Cancel</button>
            </div>
        {% endif %}
    </form>
    </div>
</div>
{% if edit_mode == "update" %}
{% include 'blog/widgets/comments_widget.html' %}
{% endif %}
{% endblock %}