{% extends "blog/base.html" %}

{% block title %}{{blog_owner}}'s Blog - Main Page{% endblock %}

{% block content %}
    {% if request.user == blog_owner %}
        <button type="button" onclick="window.location.href='{% url 'blog:add_entry' %}';">Add a blog entry</button>
    {% endif %}
    <div class="most_recent">
        {% if object_list %}
        <ul>
            {% for entry in object_list %}
            <li><div class="blog_entry">
                {{entry.created_on}} - <a href="{% url 'blog:details' entry.pk %}">"{{entry.title}}"</a> ( last edited {{ entry.last_edited }} )
            </div></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>You haven't written anything yet!</p>
        {% endif %}
    </div>
{% endblock %}