<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'project_manager/stylesheet.css' %}">
</head>
<body>
<div class="message_container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissable" role="alert">

    </div>
    {{ message }}
    {% endfor %}
    {% endif %}
</div>
<div class="main_container">
{% block content %}{% endblock %}
</div>
</body>
</html>