<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'project_manager/index_style.css' %}">
    <meta charset="UTF-8">
    <title>App-level Index</title>
</head>
<body>
Active tasks: <a href="{% url 'project_manager:add_task' %}">(Click here to add a new task)</a><br/>
    <table border="1px">
        <tr>
            <th>Title</th>
            <th>Priority</th>
            <th>Deadline</th>
            <th>Status</th>
        </tr>
        {% for task in most_pressing %}
        <tr>
            <td><a href="{% url 'project_manager:details' task.pk %}">{{ task.title }}</a></td>
            <td>{{ task.priority }}</td>
            <td>{{ task.deadline }}</td>
            <td>{{ task.status }} <a href="{% url 'project_manager:update_status' task.pk %}">[Update]</a>
                <a href="{% url 'project_manager:rollback_status' task.pk %}">[Rollback]</a></td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>