<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'project_manager/stylesheet.css' %}">
    <meta charset="UTF-8">
    <title>Edit task</title>

</head>
<body>
<div class="details_container">
    <form class="details_form" method="post">
        <button type="button" onclick="window.location.href='/'">Cancel and return...</button><br/>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit edit">
    </form>
</div>
{% if notes %}
<div class="details_container">
    {% for note in notes %}
    <p>From {{note.owner}} on {{note.date}}:<br>
    <pre>{{ note.text }}</pre>
    <br>
    </p>
    {% endfor %}
</div>
{% endif %}

<div class="details_container">
    <form class="details_form" action="{% url 'project_manager:add_note' object.pk %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="task_note">Add a note here:</label>
            <textarea style="width:600px;height:300px;" name="task_note"></textarea>
        </fieldset>
        <input type="submit" value="Add note">
    </form>
</div>
</body>
</html>