{% extends 'project_manager/base.html' %}

{% block title %}Edit task{% endblock %}

{% block content %}
<script>
    function _to_datetimelocal(date){
        return date.toISOString().slice(0,-5);
        }
    function ISOStringNow(){
        return _to_datetimelocal(new Date());
        }
    function ISOString5pm(){
        d = new Date();
        d.setSeconds(0);
        d.setMinutes(0);
        hr = 17 - (d.getTimezoneOffset()/60);
        d.setHours(hr);
        return _to_datetimelocal(d);
        }
    function ISOString8am(){
        d = new Date();
        d.setSeconds(0);
        d.setMinutes(0);

        hr = 8 - (d.getTimezoneOffset()/60);
        d.setHours(hr);
        return _to_datetimelocal(d);
        }
</script>
<div class="taskmodel_form_container">
    <form class="taskmodel_form" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}

        {% if edit_mode == "add" %}
            <tr>
                <th colspan="2" align="right">
                    <input type="submit" value="Add Task">
                    <button type="button" onclick="window.location.href='{% url 'project_manager:index' %}'">Cancel</button>
                </th>
            </tr>
        {% else %}
            <tr>
                <th colspan="2" align="right">
                    <input type="submit" value="Submit Edit">
                    <button type="button" onclick="window.location.href='{% url 'project_manager:details' object.pk %}'">Cancel</button>
                </th>
            </tr>
        {% endif %}
        </table>
    </form>
</div>

{% if notes %}
{% include 'project_manager/widgets/notes_widget.html' %}
{% endif %}

{% if edit_mode == "edit" %}
<div style="margin-top: 10px;">
{% include 'project_manager/widgets/newnote_widget.html' %}
</div>
{% endif %}
{% endblock %}