<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'project_manager/stylesheet.css' %}">
    <meta charset="UTF-8">
    <title>Edit task</title>

</head>
<body>
<div class="details_container">
    {% if edit_mode == "add" %}
    <form class="details_form" action="{% url 'project_manager:add_task_submit' %}" method="post">
        {% else %}
        <form class="details_form" action="{% url 'project_manager:edit_task_submit' ipk %}" method="post">
            {% endif %}

            {% csrf_token %}

            {% if perms.project_manager.update_taskmodel %}
            {% if edit_mode != "add" %}
            {% if disabled != "" %}
            <a href="{% url 'project_manager:edit_task' ipk %}">Enable editing</a><br/>
            {% else %}
            <a href="{% url 'project_manager:details' ipk %}">Disable editing</a><br/>
            {% endif %}
            {% endif %}
            {% endif %}

            {% if messages %}
            {% for message in messages %}
            <div class="message">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <fieldset>
                <label class="one-line" for="task_priority">Priority: (Safe to leave at default)</label>
                <input {{ disabled }} class="one-line" type="number" name="task_priority"
                       value="{{task.priority|default:100}}">
            </fieldset>
            <fieldset>
                <label for="task_owner">Task owner: {{task.owner}}</label>
                <input {{ disabled }} class="one-line" type="text" name="task_owner" placeholder="username here">
            </fieldset>
            <fieldset>
                <label for="task_title">Task title: </label>
                <input {{ disabled }} class="one-line" type="text" maxlength="80" name="task_title"
                       value="{{task.title}}">
            </fieldset>
            <fieldset>
                <label for="task_desc">Task description: </label>
                <textarea {{ disabled }} style="width:600px;height:300px;" name="task_desc">{{task.desc}}</textarea>
            </fieldset>
            <fieldset>
                {% if not disabled %}
                <label for="task_parent">Parent: (Current is [{{task.parent_task.title | default:"None"}}])</label><br/>
                <select name="task_parent" size="10">
                    {% for task in all_tasks %}
                    <option value="{{task.id}}">{{task.title}}</option>
                    {% endfor %}
                </select>
                {% else %}
                    {% if task.parent_task %}
                    <label>Parent task: <a href="{% url 'project_manager:details' task.parent_task.id %}">{{task.parent_task.title}}</a></label>
                    {% else%}
                    <label>Parent task: None </label>
                    {% endif %}
                {% endif %}
            </fieldset>
            {% if not disabled %}
            <fieldset>
                <label for="task_deps">Add dependency:</label><br/>
                <select name="task_deps" size="4">
                    <option value=""></option>
                    {% for t in all_tasks %}
                    {% if not t in dependencies %}
                    <option value="{{t.id}}">{{t.title}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset>
                <label for="task_deps_remove">Remove dependency:</label><br/>
                <select name="task_deps_remove" size="1">
                    <option value=""></option>
                    {% if dependencies %}
                    {% for t in dependencies %}
                    <option value="{{t.id}}">{{t.title}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </fieldset>
            {% else %}
            <fieldset>
                <label>Depends on:</label><br/>
                {% if dependencies %}
                {% for dep in dependencies %}
                <a href="{% url 'project_manager:details' dep.id %}">{{dep.title}}</a><br/>
                {% endfor %}
                {% else %}
                    Nothing - Task is standalone
                {% endif %}
            </fieldset>
            {% endif %}
            <fieldset>
                <label for="task_scheduled_start">Scheduled to start on:
                    {{task.scheduled_start|default_if_none:""}}</label>
                <input {{ disabled }} class="one-line" type="datetime-local" name="task_scheduled_start"
                       value="{{task.scheduled_start|date:'Y-m-d\TH:i'}}">
            </fieldset>
            <fieldset>
                <label for="task_deadline">With a deadline on: {{task.deadline|default_if_none:""}}</label>
                <input {{ disabled }} style="float:right;clear:both;" type="datetime-local" name="task_deadline"
                       value="{{task.deadline|date:'Y-m-d\TH:i'}}">
            </fieldset>

            {% if edit_mode == "edit" %}

            {% if task.started_on %}
            <fieldset class="highlight">
                <label for="task_started_on">This task was started on: ({{task.started_on}})</label>
                <input {{ disabled }} class="one-line" type="datetime-local" name="task_started_on"
                       value="{{task.started_on|date:'Y-m-d\TH:i'}}">
            </fieldset>
            {% else %}
            <fieldset>
                <label for="task_started_on">Actual start time:</label>
                <input {{ disabled }} class="one-line" type="datetime-local" name="task_started_on"
                       value="{{task.started_on|date:'Y-m-d\TH:i'}}">
            </fieldset>
            {% endif %}

            {% if task.completed_on %}
            <fieldset class="highlight">
                <label for="task_completed_on">This task was completed on: ({{task.completed_on}})</label>
                <input {{ disabled }} class="one-line" type="datetime-local" name="task_completed_on"
                       value="{{task.completed_on|date:'Y-m-d\TH:i'}}">
            </fieldset>
            {% else %}
            <fieldset>
                <label for="task_completed_on">Completion date:</label>
                <input {{ disabled }} class="one-line" type="datetime-local" name="task_completed_on"
                       value="{{task.completed_on|date:'Y-m-d\TH:i'}}">
            </fieldset>
            {% endif %}

            {% endif %}

            {% if edit_mode == "edit" %}
            {% if disabled == "" %}
            <input type="submit" value="Submit edit">
            {% endif %}
            {% elif edit_mode == "add" %}
            {% if disabled == "" %}
            <input type="submit" value="Add task">
            {% endif %}
            {% endif %}
            <a class="one-line" href="{% url 'project_manager:index' %}">Return to index</a>
        </form>
</div>
{% if disabled %}
<div class="details_container">
    {% if notes %}
    {% for note in notes %}
    <p>From {{note.owner}} on {{note.date}}:<br>
    <pre>{{ note.text }}</pre>
    <br>
    </p>
    {% endfor %}
    {% endif %}
</div>
<div class="details_container">
    <form class="details_form" action="{% url 'project_manager:add_note' ipk %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="task_note">Add a note here:</label>
            <textarea style="width:600px;height:300px;" name="task_note"></textarea>
        </fieldset>
        <input type="submit" value="Add note">
    </form>
</div>
{% endif %}
</body>
</html>