<form class="newnote_form" action="{% url 'project_manager:add_note' object.pk %}" method="post">
        {% csrf_token %}
    <div class="newnote_widget_container">
        <div class="newnote_widget_label">Add a note here:</div>
        <div class="newnote_widget_text">
            <textarea class="newnote_widget_textarea"></textarea>
        </div>
        <div class="newnote_widget_buttons">
            <input type="submit" value="Add note">
            <input type="reset" value="Delete text">
        </div>
    </div>
</form>
